    <style>
            .widget {
                position: relative;
                padding-bottom: 700px;
                height: 0;
                overflow: hidden;
            }
            .widget iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .body {
                background-color:gray;
            }
            .label {
                 color:white;
           }
        </style>

